#dropdown {
  width: 140px;
  height: 72px;
  position: absolute;
  top: 60px;
  opacity: 1;
  transition: all 0.2s ease-in-out;

  ul {
    width: 130px;
    list-style: none;
    color: var(--text-primary);
    background-color: var(--sidebar-bg);
    border: 1px solid var(--primary-diffused);
    border-radius: 5px;
    margin: 0;

    li {
      padding: 8px 10px;
      text-align: right;
      cursor: pointer;

      &:first-child {
        border-bottom: 2px solid var(--primary-diffused);
      }

      a {
        height: 100%;
        width: 100%;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        color: var(--text-primary);
      }

      button {
        height: 100%;
        width: 100%;
        display: inline-block;
        text-align: right;
        color: var(--text-primary);
        border: none;
        background-color: transparent;
      }
    }
  }

  &.collapsedDropdown {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
