.chart {
  .chartHeader {
    width: 100%;
    position: relative;

    .editButton {
      position: absolute;
      display: flex;
      align-items: center;
      right: 0;

      svg {
        height: 18px;
        width: 18px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  .doughnutContainer {
    position: relative;
    height: 144px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: var(--sidebar-bg);
  }
}
