.dashboard {
  height: calc(100% - 64px);
  width: 100%;
  overflow-y: auto;
  padding: 0 16px 16px 16px;

  .expenseList {
    height: calc(100% - 232px);
    width: 100%;
    overflow-y: auto;
    padding: 8px;
    border-radius: 3px;
    background-color: var(--sidebar-bg);

    .listHeader {
      display: flex;
      padding: 0 0 8px 0;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--text-primary);

      .expenseListHeaderDate {
        flex: 2;
        border-right: 1px solid var(--primary);
      }
      .expenseListHeaderCategory {
        flex: 2;
        border-right: 1px solid var(--primary);
      }
      .expenseListHeaderAmount {
        flex: 2;
        border-right: 1px solid var(--primary);
      }
      .expenseListHeaderDescription {
        flex: 4;
        border-right: 1px solid var(--primary);
      }
      .expenseListHeaderTags {
        flex: 2;
        border-right: 1px solid var(--primary);
      }
      .expenseListHeaderControls {
        flex: 1;
      }

      @media (max-width: 768px) {
        .expenseListHeaderDescription {
          display: none;
        }
        .expenseListHeaderTags {
          display: none;
        }
      }
    }

    @media (max-width: 1200px) {
      height: calc(100% - 248px);
    }

    @media (max-width: 576px) {
      height: 100%;
    }
  }

  @media (max-width: 576px) {
    margin-bottom: 64px;
  }
}
