.App {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  background-color: var(--page-bg);

  .contentContainer {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding-left: 256px;

    @media (max-width: 1024px) {
      padding-left: 78px;
    }
    @media (max-width: 576px) {
      padding-left: 0;
      padding-bottom: 48px;
    }
  }
}
