.budgetForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  label {
    width: 70%;
    margin-top: 0;
  }

  button {
    width: 30%;
  }
}
