.chartContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px 0;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);

    .weeklyChangeChart {
      grid-column: span 2;
    }
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;

    .weeklyChangeChart {
      grid-column: span 1;
    }
  }
}
