.selectDropdown {
  position: relative;
  width: 100%;
  border-radius: 3px;

  select {
    option {
      &:active {
        background-color: var(--primary);
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}
