#passwordChangeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  h3 {
    width: 100%;
    padding: 0 0 16px 0;
    margin-bottom: 16px;
    font-weight: 400;
    color: var(--text-primary);
    text-align: center;
    border-bottom: 1px solid var(--text-secondary);
  }

  #passwordChangeForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    label {
      width: 80%;
      input {
        background-color: var(--page-bg);
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    a {
      width: 100%;
    }

    span {
      color: var(--alert);
    }

    .primaryBtn {
      margin-top: 24px;
      width: 80%;

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    .reqContainer {
      width: 80%;
      padding-left: 8px;
      font-size: 12px;
      color: var(--text-primary);

      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
