#loginForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;

  label {
    input {
      background-color: var(--sidebar-bg);
    }
  }

  a {
    width: 100%;
  }

  span {
    color: var(--alert);
  }

  .primaryBtn {
    margin-top: 48px;
  }
}
