.doughnutContainer {
  position: relative;
  height: 144px;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;

  .recharts-default-legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
