#recoveryForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  label {
    input {
      background-color: var(--login-form-input);
    }
  }

  span {
    color: var(--alert);
  }

  .primaryBtn {
    margin-top: 48px;
  }
}
