.historyListElement {
  width: 100%;
  min-height: 38px;
  max-height: 66px;
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 2px solid var(--page-bg);
  color: var(--text-primary);
  overflow: hidden;
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  // Prestate
  opacity: 0;
  // remove transform for just a fade-in
  transform: rotateX(-90deg);
  transform-origin: top center;

  @keyframes show {
    100% {
      opacity: 1;
      transform: none;
    }
  }

  &:last-of-type {
    border: none;
  }

  .historyListElementDate {
    flex: 1;
  }
  .historyListElementCategory {
    flex: 2;
  }
  .historyListElementAmount {
    flex: 2;
  }
  .historyListElementDescription {
    flex: 4;
  }
  .historyListElementTags {
    flex: 2;
    max-height: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: hidden;

    .tagElement {
      min-width: 0;
      font-size: 12px;
      padding: 0 8px;
      margin: 2px 0;
      border-radius: 90px;
      border: 2px solid var(--primary);
    }
  }
  .historyListElementControls {
    flex: 1;

    button {
      height: 32px;
      min-width: 32px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      background-color: transparent;
      color: var(--text-primary);

      svg {
        height: 18px;
        width: 18px;
      }
    }
  }

  @media (max-width: 1200px) {
    .historyListElementTags {
      .tagElement {
        font-size: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    .historyListElementDescription {
      display: none;
    }
    .historyListElementTags {
      display: none;
    }
  }

  @media (max-width: 360px) {
    font-size: 12px;
  }
}
