@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root,
html[data-theme="light"] {
  --primary: rgb(34 110 197);
  --secondary: rgb(8, 132, 158);
  --text-primary: rgb(0, 0, 0);
  --text-secondary: rgb(51, 51, 51);
  --sidebar-bg: rgb(255, 255, 255);
  --page-bg: rgb(238, 238, 238);
  --success: rgb(34, 197, 94);
  --danger: rgb(234, 179, 8);
  --alert: rgb(220, 38, 38);
}

html[data-theme="dark"] {
  --primary: rgb(34 110 197);
  --secondary: rgb(8, 132, 158);
  --text-primary: rgb(241, 245, 249);
  --text-secondary: rgb(100, 116, 139);
  --page-bg: rgb(30, 41, 59);
  --sidebar-bg: rgb(15, 23, 42);
  --success: rgb(34, 197, 94);
  --danger: rgb(234, 179, 8);
  --alert: rgb(220, 38, 38);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

.preload-transitions {
  $null-transition: none !important;
  -webkit-transition: $null-transition;
  -moz-transition: $null-transition;
  -ms-transition: $null-transition;
  -o-transition: $null-transition;
  transition: $null-transition;
}
