@use "inputs";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root,
html[data-theme="light"] {
  --primary: #9d174d;
  --secondary: #08849eee;
  --text-primary: #000000;
  --text-secondary: #333333;
  --sidebar-bg: #eeeeee;
  --page-bg: #ffffff;
  --success: #22c55e;
  --danger: #eab308;
  --alert: #dc2626;
}

html[data-theme="dark"] {
  --primary: #9d174dee;
  --secondary: #08849eee;
  --text-primary: #f1f5f9;
  --text-secondary: #64748b;
  --page-bg: #1e293b;
  --sidebar-bg: #0f172a;
  --success: #22c55e;
  --danger: #eab308;
  --alert: #dc2626;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

.preload-transitions {
  $null-transition: none !important;
  -webkit-transition: $null-transition;
  -moz-transition: $null-transition;
  -ms-transition: $null-transition;
  -o-transition: $null-transition;
  transition: $null-transition;
}
